* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body {
    background: linear-gradient(90deg,#b3661f,#ff8a00);
}
h1 {
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
    letter-spacing: .4rem;
    padding: 2rem;
    color: white;
    
    
}

.coming-soon {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

img {
    height: 40vh;
    margin-top: 2rem;
    border-radius: 50%;
    border: 3px solid black;
}

.countdown {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
}

.day, .hour, .minutes, .seconds {
    font-size: 3rem;
    border-radius: 50px;
}

video {
    object-fit: cover;
}