* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg,#b3661f,#ff8a00);
}

nav, ul, li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px 60px;
    color: white;
    background-color: #E5BA73;
    position: sticky;
}


li {
    font-weight: bold;
    font-size: 20px;
    font-family: 'poppins';
}

li:hover {
    color: #C58940;
}

nav {
    width: 100%;
}

img {
    width: 76px;
    height: 60px;
}

#text {
  color: #FAF8F1;
  font-size: 85px;
  font-weight: bold;
  font-family: 'poppins';
  top: 50%;
  left: 55%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  margin-top: 15rem;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: #FAEAB1;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}