* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

body {
    background-color: rgb(223, 203, 203, 0.5);
}


nav, ul, li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px 0 50px;
    margin-right: 2rem;
    color: white;
    background-color: rgb(20, 18, 18);
    position: sticky;
}


li {
    font-weight: bold;
    font-size: 20px;
    font-family: 'poppins';
}

li:hover {
    color: yellow;
}

nav {
    width: 100%;
}

img {
    width: 76px;
    height: 60px;
}

.custom-shape-divider-top-1670781977 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 3.7rem;
}

.custom-shape-divider-top-1670781977 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 720px;
    opacity: .7;
}

.custom-shape-divider-top-1670781977 .shape-fill {
    fill: #F8E71C;
}
